<html>
    <head>
        <title>{{ tracker.config.name }}</title>
        <link rel="stylesheet" 
            type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" 
            type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" 
            type="text/css" href="{{ url_for('static', filename='css/pygments.css') }}">
        <link rel="stylesheet" 
            type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='js/tiptip/tipTip.css') }}">
        <script type="text/javascript" src="{{ url_for('static', 
            filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', 
            filename='js/jquery-ui.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', 
            filename='js/hopper.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', 
            filename='js/showdown.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', 
            filename='js/base.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', 
            filename='js/tiptip/jquery.tipTip.minified.js') }}"></script>
    </head>
    <body>
        {% if get_flashed_messages() %}
            <div id="flash">
                {{ get_flashed_messages()[0] }}
                <span style="float:right; font-size:60%;">(Click to dismiss)</span>
            </div>
        {% endif %}
        <div id="top-header">
            <div id="title">
                <a href="/">{{ tracker.config.name }}</a>
            </div>
            <div id="search">
                <form action="issues/search">
                <input type="text" class="unfocused" value="Search issues...">
                </form>
            </div>
            <div id="new">
                <a href="/issues/new">New Issue</a>
                &nbsp;or
            </div>
            <div id="nav">
                <a class="{{ 'nav selected' if selected == 'feed' else 'nav' }}"
                    href="{{ url_for('feed.main') }}">Feed</a>
                <a class="{{ 'nav selected' if selected == 'issues' else 'nav' }}"
                    href="{{ url_for('issues.index') }}">Issues</a>
                <a class="{{ 'nav selected' if selected == 'docs' else 'nav' }}"
                    href="{{ url_for('docs.main') }}">Docs</a>
                <a class="{{ 'nav selected' if selected == 'settings' else 'nav' }}"
                    href="{{ url_for('docs.main') }}">Settings</a>
            </div>
        </div>
        <div id="mid-header">
            {% if header %}
                {{ header|safe }}
            {% else %}
                No Header
            {% endif %}
        </div>
        <div class="page">
            {% block body %}{% endblock %}
        </div>
        <br>
        <div id="footer">
            Powered by <a href="http://hopperhq.com/hopper">Hopper</a>
            <div id="git-access">
                Access this tracker via Git: 
                <span class="fancy-monospace">git@hopperhq.com:{{ tracker.paths['base'] }}.git</span>
            </div>
        </div>
    </body>
</html>
