{% extends 'base.html' %}
{% block body %}
<div class="issue-sidebar">
    <div class="issue-sidebar-heading">
        Stats
    </div>
    <div class="issue-sidebar-content">
        <div class="graph-outer">
            <div class="graph-open" style="width:89%"></div>
            <div class="graph-closed" style="width:9%"></div>
        </div>
        <br>
        <a href="/issues/open">25</a> Open, 
        <a href="/issues/closed" style="color: #B71713">3</a> Closed
    </div>
    <div class="issue-sidebar-heading">
        Docs
    </div>
    <div class="issue-sidebar-content">
    {% for doc in docs %}
        <a href="/docs/{{ doc.link }}" style="color: #555;">{{ doc.name }}</a><br>
    {% endfor %}
        <a href="/docs">see all...</a>
    </div>
    <div class="issue-sidebar-heading">
        Members
    </div>
    <div class="issue-sidebar-content">
    {% for user in users %}
        {{ user }}<br>
    {% endfor %}
        <a href="/members">see all...</a>
    </div>
</div>
<div id="feed">
    <ul>
    {% for item in history %}
        <li>
        <span id="author">{{ item['user']['name'] }}</span>
        ({{ item['user']['email'] }})
        <span id="author">{{ item['message'] }}</span>
        {% if item['link'] %}
            <a class="fancy-monospace" 
                href="{{ item['link'] }}">{{ item['button'] }}</a>
        {% endif %}
        &nbsp;
        <span id="time">{{ item['time'] }} ↲</span>
        {% if item['snippet'] %}
        <div class="snippet">
            {% if item['title'] %}
            <span id="title">{{ item['title'] }}</span>
            <br>
            {% endif %}
            {{ item['snippet']|safe }}
        </div>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    <div class="clear"></div>
</div>
{% endblock %}
