{% extends 'base.html' %}
{% block body %}
<div id="feed">
    <ul>
    {% for item in history %}
        <li>
        <span id="author">{{ item['user']['name'] }}</span>
        ({{ item['user']['email'] }})
        <span id="author">{{ item['message'] }}</span>
        {% if item['link'] %}
            <a class="fancy-monospace" 
                href="{{ item['link'] }}">{{ item['button'] }}</a>
        {% endif %}
        &nbsp;
        <span id="time">{{ item['time'] }} ↲</span>
        {% if item['snippet'] %}
        <div class="snippet">
            {% if item['title'] %}
            <span id="title">{{ item['title'] }}</span>
            <br>
            {% endif %}
            {{ item['snippet']|safe }}
        </div>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
