{% extends 'base.html' %}
{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='js/issues.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/filter.js') }}"></script>

<div id="content-header">
    {% if status == 'open' %}
        <a href="{{ url_for('issues.index', status='open') }}" id="open-issues" class="open-closed">Open</a>
        <a href="{{ url_for('issues.index', status='closed') }}" id="closed-issues" class="open-closed active">Closed</a>
    {% else %}
        <a href="{{ url_for('issues.index', status='open') }}" id="open-issues" class="open-closed active">Open</a>
        <a href="{{ url_for('issues.index', status='closed') }}" id="closed-issues" class="open-closed">Closed</a>
    {% endif %}
    <div id="add-filter" class="small-button gray" style="float:right; position:relative; bottom:5px;">Add Filter</div>
</div>
<div id="content">
    <table>
        {% if issues_ is not none %}
            <tr>
                {% if sorted_by == 'id' and order == 'asc' %}
                <th>
                    <a href="{{ url_for('issues.index', status=status, s='id', o='desc') }}">Identifier &darr;</a>
                </th>
                {% elif sorted_by == 'id' and order == 'desc' %}
                <th>
                    <a href="{{ url_for('issues.index', status=status, s='id', o='asc') }}">Identifier &uarr;</a>
                </th>
                {% else %}
                <th>
                    <a href="{{ url_for('issues.index', status=status, s='id', o='asc') }}">Identifier</a>
                </th>
                {% endif %} 
                {% if sorted_by == 'title' and order == 'asc' %}
                <th>
                    <a href="{{ url_for('issues.index', status=status, s='title', o='desc') }}">Title &darr;</a>
                </th>
                {% elif sorted_by == 'title' and order == 'desc' %}
                <th>
                    <a href="{{ url_for('issues.index', status=status, s='title', o='asc') }}">Title &uarr;</a>
                </th>
                {% else %}
                <th>
                    <a href="{{ url_for('issues.index', status=status, s='title', o='asc') }}">Title</a>
                </th>
                {% endif %} 
                <th>Labels</th>
                {% if sorted_by == 'updated' and (order == 'asc' or order is none) %}
                <th>
                    <a href="{{ url_for('issues.index', status=status, s='timestamp', o='desc') }}">Age &darr;</a>
                </th>
                {% elif sorted_by == 'updated' and order == 'desc' %}
                <th>
                    <a href="{{ url_for('issues.index', status=status, s='timestamp', o='asc') }}">Age &uarr;</a>
                </th>
                {% else %}
                <th>
                    <a href="{{ url_for('issues.index', status=status, s='timestamp', o='asc') }}">Age</a>
                </th>
                {% endif %} 
            </tr>
            {% for issue in issues_ %}
            <tr class="content">
                <td class="monospace">{{ issue.id[:6] }}</td>
                <td style="max-width:250px">
                    <a href="{{ url_for('issues.view', id=issue.id[:6]) }}">{{ issue.title }}</a>
                </td>
                <td>
                    {% for label in issue.labels %}
                        <span class="fancy-monospace">{{ label }}</span>
                    {% endfor %}
                </td>
                <td>{{ issue.updated }}</td>
            </tr>
            {% endfor %}
        {% else %}
        No Issues to Show
        {% endif %}
    </table>
</div>
{% if pages %}
<div class="content-bar">
    <div id="paging">
        {% if page != 1 %}
            <a href="{{ url_for('issues.index', status=status, page=(page-1)) }}">&laquo; Previous</a>
        {% endif %}
        &nbsp;
        {% for p in pages %}
            {% if not p %}
                &nbsp;...&nbsp;
            {% elif p == page %}
                <a class="cur-page" href="{{ url_for('issues.index', status=status, page=p) }}">{{ p }}</a>
            {% else %}
                <a href="{{ url_for('issues.index', status=status, page=p) }}">{{ p }}</a>
            {% endif %}
        {% endfor %}
        &nbsp;
        {% if page != num_pages %}
            <a href="{{ url_for('issues.index', status=status, page=(page+1)) }}">Next &raquo;</a>
        {% endif %}
    </div>
</div>
{% endif %}
<div id="content-footer">
    Showing <b>{{ issues_|count }}</b> of <b>{{ issues_|count }}</b> issues
</div>
{% endblock %}
