{% extends 'base.html' %}
{% block body %}
<script type="text/javascript" src="{{ url_for('.static', filename='js/issue.js') }}"></script>
<div id="content-header">
    Issue <span class="monospace">{{ issue.id[:6] }}</span> 
    &nbsp; &nbsp; Opened {{ issue.created }} by {{ issue.author['name'] }}
    {% if issue.status == 'open' %}
        <a id="issue-close" class="button green" style="height: 17px; bottom: 10px;" 
            href="{{ url_for('issues.close', id=issue.id) }}">Open</a>
    {% else %}
        <a id="issue-open" class="button red" style="height: 17px; bottom:10px" 
            href="{{ url_for('issues.open', id=issue.id) }}">Closed</a>
    {% endif %}
</div>
<div id="content">
    <div class="issue">
        <span style="font-size:130%; font-weight:bold; text-shadow: 0 0 1px #fff;">{{ issue.title }}</span>
        <br>
        {{ issue.content|safe }}
    </div>
    <br>
    {% if comments %}
        {% for comment in comments %}
        <div class="comment-header">
            <span id="author">{{ comment.author['name'] }}</span>
            <span id="email">({{ comment.author['email'] }})</span>
            commented 
            <span id="time">{{ comment.timestamp }}</span>
        </div>
        <div id="comment-{{ comment.id[:6] }}" class="comment">
            <br>
            {{ comment.content|safe }}
        </div>
        <br>
        {% endfor %}
    {% endif %}
    <form method="post">
        <span id="preview-toggle" style="display:none; font-size:80%; float:right;"><a>Toggle Preview</a></span>
        <br>
        <div id="preview-wrapper">
            <div class="comment-header" style="margin-left:0px">
                <span id="author">{{ config.user['name'] }}</span>
                <span id="email">({{ config.user['email'] }})</span>
                commented 
                <span id="time">just now</span>
            </div>
            <div id="preview"></div>
        </div>
        <br>
        <textarea name="content" style="height:85px"></textarea>
        <span style="font-size:90%">
            Hopper uses <a href="http://daringfireball.com/projects/markdown">Markdown</a> formatting.
            
        </span>
        <br>
</div>
<div id="content-footer">
        <input type="submit" class="button gray" style="font-size:90%" value="Comment">
    </form>
</div>
{% endblock %}
