{% extends 'base.html' %}
{% block body %}
<div id="feed">
    <ul>
        <li>
            <a id="open-issues" class="open-closed">On</a>
            <a id="closed-issues" class="open-closed active">Off</a>
        </li>
        <li>
            <a id="open-issues" class="open-closed">On</a>
            <a id="closed-issues" class="open-closed active">Off</a>
        </li>
        <li>
            <a id="open-issues" class="open-closed">On</a>
            <a id="closed-issues" class="open-closed active">Off</a>
        </li>
        <li>
            <a id="open-issues" class="open-closed">On</a>
            <a id="closed-issues" class="open-closed active">Off</a>
        </li>
    </ul>
</div>
{% endblock %}
