@font-face {
    font-family: 'Nobile';
    src: url('../fonts/nobile.ttf');
}

@font-face {
    font-family: 'Nobile Bold Italic';
    src: url('../fonts/nobile_bold_italic.ttf');
}

@font-face {
    font-family: 'DejaVu';
    src: url('../fonts/DejaVuSansMono.ttf');
}

.gradient(@start: #888, @end: #666) {
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end));
}

.rounded-corners (@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

.rounded-corners-bottom (@radius: 5px) {
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
    -webkit-bottom-left-border-radius: @radius;
    -webkit-bottom-right-border-radius: @radius;
}

.rounded-corners-top (@radius: 5px) {
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
    -webkit-top-left-border-radius: @radius;
    -webkit-top-right-border-radius: @radius;
}

@hopper-green: #5F8A42;
@font-color: #333;

* {
    margin:0px;
}

html, body {
    height:100%;
}

html {
    margin:0px;
    background-color:#eee;
    font-family:Helvetica;
    color:#333;
} 

h1 {
    background-color: @hopper-green;
    font-family:Nobile Bold Italic;
    color:#fff;
    padding:10px;
}

a.selected {
    background-color:#444;
    border:1px solid #333 !important;
    color:#eee !important;
    text-shadow: 0 1px 1px #000;
}

span#arr {
    font-size:70%;
}

div#page, div#footer {
    margin:8px;
}

div#footer {
    padding-bottom:10px;
}

div#footer a {
    color:#333;
}

div#content-header, div#content-footer, div#content, div.content-bar {
    width:800px;
    padding:15px;
    margin-left:auto;
    margin-right:auto;
}

div#content-header {
    .gradient();
    margin-top:50px;
    border:1px solid #555;
    border-bottom:none;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    color:#eee;
    text-shadow:1px -1px #333;
    font-size:105%;
    height:20px;
}

div#content-header .monospace {
    .gradient(#ddd, #ccc);
    .rounded-corners(4px);
    border:1px solid #555;
    padding:4px;
    color:#444;
    text-shadow:0 1px 1px #eee;
}

div#content-footer {
    .gradient();
    min-height:0px;
    padding-bottom:5px;
    padding-top:5px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    margin-bottom:200px;
    border:1px solid #666;
    color:#eee;
    text-shadow:1px -1px #555;
}

div#content-header a {
    position:relative;
    float:right;
}

div.content-bar {
    .gradient(#ddd, #ccc);
    padding-top:5px;
    padding-bottom:5px;
    border:1px solid #999;
    border-top:none;
}

div#content {
    background-color:#fff;
    min-height:200px;
    border:1px solid #bbb;
    border-top:none;
}

div#content a {
    color:#5F8A42;
}

#sidebar {
    display:none;
    float:left;
    margin-top:50px;
    margin-right:100px;
    height:300px;
    width:90px;
    background-color:#eee;
    border-radius:10px;
    padding:10px;
    border:1px solid #ddd;
}

table {
    width:100%;
    border-collapse:collapse;
}

.tag {
    background-color:#ccc;
    border:1px solid #bbb;
    border-radius:5px;
}

td {
    padding:10px;
}

th {
    text-align:left;
}

th a {
    text-decoration:none;
}

tr.content:nth-child(even) {
    background-color:#eee;
}

textarea {
    padding:5px;
    border:1px solid #bbb;
    border-radius:0px;
    width:100%;
    font-family:Menlo, DejaVu;
    font-size:100%;
}

input[type=text], input[type=password] {
    padding:10px;
    border:1px solid #bbb;
}

input#title {
    padding:10px;
    width:100%;
    font-size:115%;
}

textarea#content {
    margin-top:-15px;
    height:300px;
}

.unfocused {
    color:#bbb;
}

.button {
    padding:10px;
    border-radius:5px;
    color:#fff;
    text-decoration:none;
    font-size:16px !important;
    position:relative;
    bottom:5px;
}

.button:hover {
    cursor:pointer;
}

.green {
    .gradient(#62C462, #57A957);
    border:1px solid #5F8A42;
    text-shadow:1px 1px #888;
}

.gray {
    .rounded-corners(4px);
    .gradient(#ddd, #ccc);
    border:1px solid #777;
    color:#333;
    text-shadow:1px 1px #fff;
    padding:8px;
}

.gray:hover {
    .gradient(#ddd, #bbb);
    cursor:pointer;
}

.red {
    background-color:#B21216;
    border:1px solid #850003;
}

div#options-wrapper {
    padding:10px;
    background-color:#eee;
    border:1px solid #ddd;
    border-radius:5px;
}

input[type=submit] {
    .gray;
}

input[type=submit]:hover {
    .gradient();
    cursor:pointer;
}

#filter {
    display:inline;
    margin:60px;
}

.monospace {
    font-family: DejaVu;
    font-size:95%;
}

.bold {
    font-weight: bold;
}

.issue {
    background-color:#eee;
    border-radius:5px;
    border:1px solid #ccc;
    padding:10px;
}

.comment-header {
    .rounded-corners-top();
    .gradient(#ddd, #ccc);
    height:20px;
    padding:10px;
    margin-left:20px;
    border:1px solid #bbb;
    text-shadow:0 1px 1px #fff;
}

.comment-header span#author {
    font-weight:bold;
    color:#444;
}

.comment-header span#email {
}
        
.comment-header span#time {
    font-weight:bold;
    color:#444;
}

.comment {
    .rounded-corners-bottom();
    background-color:#eee;
    padding:10px;
    border:1px solid #ccc;
    border-top:none;
    margin-left:20px;
}

.comment p, .issue p, #preview p {
    margin-bottom:10px;
}

div.codehilite {
    background-color:#002b36;
    overflow:auto;
    font-family: Menlo, Andale Mono, DejaVu, monospace;
}

.comment > div.codehilite {
    margin-top:10px;
    margin-bottom:10px;
    padding:7px;
}

table.codehilitetable {
    background-color:#002b36;
    border-collapse:collapse;
    border-spacing:0px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    overflow:auto;
}

td.linenos {
    background-color:#073642;
    padding:5px;
    color:#586E75;
    text-shadow: #021014 0 -1px;
    border-right:1px solid #00232C;
    width:15px;
    text-align:right;
}

#nav {
    .gradient();
    height:45px;
    border-top:1px solid #666;
    border-bottom:1px solid #666;
}

#nav a.nav {
    display:inline;
    position:relative;
    top:14px;
    margin:-5px;
    padding:13px;
    height:50px;
    text-decoration:none;
    color:#dedede;
    margin-left:10px;
    text-shadow: 0 1px 1px #444;
}

pre, code {
    font-family: Menlo, DejaVu;
    margin:0px;
}

pre {
    color:#93A1A1;
    font-size:90%;
}

code {
    .rounded-corners(3px);
    background-color: #ddd;
    border:1px solid #ccc;
    font-size:90%;
    padding:1px;
}

a.open-closed {
    float:none !important;
    color:#eee;
    padding:7px;
    background-color:#444;
    border:1px solid #333;
    width:50px;
    margin-right:-5px;
    text-decoration:none;
    text-shadow:0 1px 1px #000;
}

#open-issues {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#closed-issues {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

a.active {
    .gradient(#ddd, #ccc);
    color:#444;
    border:1px solid #555;
    text-shadow:0 1px 1px #fff;
}

div#preview-wrapper {
    border:2px dashed #777;
    .rounded-corners(5px);
    display:none;
    margin-left:20px;
}

div#preview {
    .rounded-corners-bottom(5px);
    background-color:#eee;
    padding:8px;
    height:50px;
}

div#preview pre {
    background-color:#002b36;
    width:98%;
    font-size:100%;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
    padding:7px;
    margin-top:10px;
    margin-bottom:10px;
}

div#preview pre code {
    background-color:#002b36;
    border:0px;
}

div#flash {
    .gradient(#FFD10F, #FFDE20);
    font-size:120%;
    color:#333;
    text-align:center;
    padding:10px;
}
