@font-face {
    font-family: 'Nobile';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/nobile.ttf');
}

@font-face {
    font-family: 'Nobile Bold Italic';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/nobile_bold_italic.ttf');
}

@font-face {
    font-family: 'DejaVu';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/DejaVuSansMono.ttf');
}

.gradient(@start: #888, @end: #666) {
    background-image: -webkit-linear-gradient(top, @start, @end); 
    background-image:    -moz-linear-gradient(top, @start, @end); 
    background-image:     -ms-linear-gradient(top, @start, @end);
    background-image:      -o-linear-gradient(top, @start, @end);
    background-image:         linear-gradient(top, @start, @end);
}

.centered {
    margin-left:auto;
    margin-right:auto;
}

.rounded-corners (@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

.rounded-corners-bottom (@radius: 5px) {
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
    -webkit-bottom-left-border-radius: @radius;
    -webkit-bottom-right-border-radius: @radius;
}

.rounded-corners-top (@radius: 5px) {
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
    -webkit-top-left-border-radius: @radius;
    -webkit-top-right-border-radius: @radius;
}

.auto-height {
    height:auto !important;
    min-height:0px !important;
}

@hopper-green: #5F8A42;
@font-color: #333;
@background: #ccc;

html, body {
    height:100%;
    margin: 0px;
    background-color: @background;
}

html {
    margin:0px;
    font-family:Helvetica;
    color:#333;
} 

p {
    margin: 1em 0px;
}

div#top-header {
    height:60px;
}

div#mid-header {
    background-color: lighten(@hopper-green, 20%);
    font-family:Nobile Bold Italic;
    text-shadow: 0 1px 1px darken(@hopper-green, 20%);
    color:#fff;
    padding:10px;
    margin: 0px 20px 0px 20px;
    border: 1px solid @hopper-green;
}

div#search {
    float:right;
    position:relative;
    right:20px;
}

div#search input {
    width:250px;
    height:30px;
}

div#title {
    position:relative;
    width:300px;
    left:24px;
    top:25px;
    font-family: Nobile;
    font-size:150%;
    color:#333;
    text-shadow: 0 1px 1px #fff;
}

div#menu {
    .gradient();
    margin:-20px;
    margin-bottom:20px;
    text-shadow: 0 1px 1px #444;
    font-size:105%;
    color:#eee;
    padding:15px;
}

div.issue-header {
    .gradient();
    .centered;
    .rounded-corners-top();
    text-shadow: 0 1px 1px #333;
    font-size:105%;
    color:#eee;
    padding:10px;
    width:800px;
    border:1px solid #555;
}
    
div.issue-header a {
    float:right;
    position:relative;
    bottom:7px;
    color:#eee !important;
    height:13px;
    vertical-align:middle;
}

div#comment-form {
    .centered;
    width:820px;
}

div#comment-form textarea {
    width:100%;
    height:85px;
}

span#arr {
    font-size:70%;
}

div.page {
    margin:20px;
    margin-top:0px;
    background-color:white;
    padding:20px;
}

div.page a {
    color:#5F8A42;
}

div#footer {
    margin:20px;
    padding-bottom:10px;
}

div#footer a {
    color:#333;
}

div#content-header, div#content-footer, div#content, div.content-bar {
    .centered;
    width:800px;
    padding:15px;
}

div#content-header {
    .gradient(#888, #777);
    margin-top:50px;
    border:1px solid #bbb;
    border-bottom:none;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    color:#ddd;
    text-shadow: 0 1px 1px #444;
    font-size:105%;
    height:20px;
}

div#content-header .monospace {
    .gradient(#ddd, #ccc);
    .rounded-corners(4px);
    border:1px solid #555;
    padding:4px;
    color:#444;
    text-shadow:0 1px 1px #eee;
}

div#content-footer {
    .gradient();
    min-height:0px;
    padding-bottom:5px;
    padding-top:5px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border:1px solid #666;
    border-top:none;
    color:#eee;
    text-shadow:1px -1px #555;
}


div.content-bar {
    .gradient(#ddd, #ccc);
    padding-top:5px;
    padding-bottom:5px;
    border:1px solid #999;
    border-top:none;
}

div.content-bar input[type=text] {
    height:20px;
    width:100px;
    padding:0px;
}

div.content-bar div.close {
    .monospace;
    color:#666;
    width:16px;
    height:16px;
    border-radius:8px;
    background-color:#bbb;
    border:1px solid #999;
    float:right;
    text-align:center;
    position:relative;
    top:3px;
    font-size:88%;
    vertical-align:middle;
}

div.content-bar div.close:hover {
    color:#444;
    cursor:pointer;
    border:1px solid #888;
}

div#content {
    background-color:#fff;
    min-height:200px;
    border:1px solid #bbb;
    border-top:none;
}

#sidebar {
    display:none;
    float:left;
    margin-top:50px;
    margin-right:100px;
    height:300px;
    width:90px;
    background-color:#eee;
    border-radius:10px;
    padding:10px;
    border:1px solid #ddd;
}

table {
    width:100%;
    border-collapse:collapse;
}

.tag {
    background-color:#ccc;
    border:1px solid #bbb;
    border-radius:5px;
}

td {
    padding:10px;
}

th {
    text-align:left;
}

th a {
    text-decoration:none;
}

tr.content:nth-child(even) {
    background-color:#eee;
}

textarea {
    padding:5px;
    border:1px solid #bbb;
    border-radius:0px;
    width:100%;
    font-family:Menlo, DejaVu;
    font-size:100%;
}

input[type=text], input[type=password] {
    padding:10px;
    border:1px solid #bbb;
}

input#title {
    padding:10px;
    width:100%;
    font-size:115%;
}

textarea#content {
    margin-top:-15px;
    height:300px;
}

.unfocused {
    color:#bbb;
}

.button {
    padding:10px;
    border-radius:5px;
    color:#fff;
    text-decoration:none;
    display:block;
    vertical-align:middle;
}

.small-button {
    .button;
    display:inline;
    font-size:85%;
    padding:6px;
}

.button:hover {
    cursor:pointer;
}

.green {
    .gradient(#62C462, #57A957);
    border:1px solid #5F8A42;
    text-shadow:1px 1px #888;
}

.gray {
    .rounded-corners(4px);
    .gradient(#ddd, #ccc);
    border:1px solid #666;
    color:#333;
    text-shadow:1px 1px #fff;
}

.gray:hover {
    .gradient(#ddd, #bbb);
    cursor:pointer;
}

.red {
    background-color:#B21216;
    border:1px solid #850003;
}

div#options-wrapper {
    padding:10px;
    background-color:#eee;
    border:1px solid #ddd;
    border-radius:5px;
}

input[type=submit] {
    .gray;
}

input[type=submit]:hover {
    .gradient(#ddd, #bbb);
    cursor:pointer;
}

#filter {
    display:inline;
    margin:60px;
}

.monospace {
    font-family: DejaVu;
    font-size:95%;
}

.fancy-monospace {
    .gradient(#ddd, #ccc);
    .rounded-corners(4px);
    border:1px solid #555;
    padding:4px;
    color:#444;
    text-shadow:0 1px 1px #eee;
}

.bold {
    font-weight: bold;
}

.issue {
    .centered;
    .rounded-corners-bottom();
    background-color:#eee;
    border:1px solid #ccc;
    padding:10px;
    width:800px;
}

.comment-header {
    .rounded-corners-top();
    .gradient(#ddd, #ccc);
    .centered;
    width:800px;
    height:20px;
    padding:10px;
    border:1px solid #bbb;
    text-shadow:0 1px 1px #fff;
}

.comment-header span#author {
    font-weight:bold;
    color:#444;
}

.comment-header span#email {
}
        
.comment-header span#time {
    font-weight:bold;
    color:#444;
}

.comment {
    .rounded-corners-bottom();
    .centered;
    width:800px;
    background-color:#eee;
    padding:10px;
    border:1px solid #ccc;
    border-top:none;
}

.comment p:first-child {
    margin-top:0.5em;
}

.comment h1, .issue h1, .doc h1, #preview h1 {
    font-size: 150%;
}

.comment h2, .issue h2, .doc h2, #preview h2 {
    font-size: 130%;
}

div.codehilite {
    background-color:#002b36;
    overflow:auto;
    font-family: Menlo, Andale Mono, DejaVu, monospace;
}

.comment > div.codehilite, .issue > div.codehilite {
    margin-top:10px;
    margin-bottom:10px;
    padding:7px;
}

table.codehilitetable {
    background-color:#002b36;
    border-collapse:collapse;
    border-spacing:0px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    overflow:auto;
}

td.linenos {
    background-color:#073642;
    padding:5px;
    color:#586E75;
    text-shadow: #021014 0 -1px;
    border-right:1px solid #00232C;
    width:15px;
    text-align:right;
}

#nav {
    max-width:400px;
    margin:0px;
    float:left;
    position:relative;
    left:200px;
    top:12px;
}

#nav a.nav {
    display:inline;
    color: #777;
    font-size:95%;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0 1px 1px #fff;
    margin-left:10px;
    background-color: lighten(@background, 7%);
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border:1px solid #bbb;
    border-bottom:none;
}

#nav a.nav.selected {
    background-color: lighten(@hopper-green, 20%);
    color:#444;
    text-shadow:0 1px 1px #ddd;
    position:relative;
    height:31px;
    border:1px solid @hopper-green;
    border-bottom:1px solid lighten(@hopper-green, 20%);
    top:1px;
}

pre, code {
    font-family: Menlo, DejaVu;
    margin:0px;
}

pre {
    color:#93A1A1;
    font-size:90%;
}

code {
    .rounded-corners(3px);
    background-color: #ddd;
    border:1px solid #ccc;
    font-size:90%;
    padding:1px;
}

a.open-closed {
    color:#eee !important;
    padding:7px;
    background-color:#444;
    border:1px solid #333;
    width:50px;
    margin-right:-5px;
    text-decoration:none;
    text-shadow:0 1px 1px #000;
    position:relative;
}

#open-issues {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#closed-issues {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

a.active {
    .gradient(#ddd, #ccc);
    color:#444 !important;
    border:1px solid #555;
    text-shadow:0 1px 1px #fff;
}

div#preview-wrapper {
    border:2px dashed #777;
    .rounded-corners(5px);
    .centered;
    display:none;
    width:822px;
}

div#preview {
    .rounded-corners-bottom(5px);
    background-color:#eee;
    padding:8px;
    width:806px;
    height:50px;
}

div#preview pre {
    background-color:#002b36;
    width:98%;
    font-size:100%;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
    padding:7px;
    margin-top:10px;
    margin-bottom:10px;
}

div#preview pre code {
    background-color:#002b36;
    border:0px;
}

div#flash {
    .gradient(#FFD10F, #FFDE20);
    font-size:120%;
    color:#333;
    text-align:center;
    padding:10px;
    text-shadow:0 1px 1px #fff;
}

div#flash span:hover {
    cursor:pointer;
}

span.hq {
    font-size: 70%;
    vertical-align: super;
    font-weight:bold;
}

div#paging a {
    text-decoration:none;
    color: @hopper-green;
    font-weight:bold;
    text-shadow: 0 1px 1px #eee;
    font-size:95%;
}

div#paging a.cur-page {
    color: #444;
}
