@font-face {
  font-family: 'Nobile';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/nobile.ttf');
}
@font-face {
  font-family: 'Nobile Bold Italic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/nobile_bold_italic.ttf');
}
@font-face {
  font-family: 'DejaVu';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/DejaVuSansMono.ttf');
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.centered-text {
  text-align: center;
}
.highlighted {
  background-color: #FFFAA8;
  border: 1px solid #FFF778;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
.auto-height {
  height: auto !important;
  min-height: 0px !important;
}
html, body {
  height: 100%;
  margin: 0px;
  background-color: #cccccc;
}
html {
  margin: 0px;
  font-family: Helvetica;
  color: #333;
  min-width: 1024px;
}
p {
  margin: 1em 0px;
  line-height: 115%;
}
b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
li {
  list-style-type: circle;
  margin: 0.8em 0px;
  margin-left: 20px;
  line-height: 115%;
}
hr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}
div#top-header {
  height: 60px;
}
div#mid-header {
  background-color: #92bd75;
  font-family: Nobile Bold Italic;
  text-shadow: 0 1px 1px #304521;
  color: #fff;
  padding: 10px;
  margin: 0px 20px 0px 20px;
  border: 1px solid #5f8a42;
}
div#search {
  float: right;
  position: relative;
  right: 20px;
}
div#search input {
  width: 250px;
  height: 30px;
  font-size: 90%;
  padding: 0px;
  padding-left: 5px;
  border: 1px solid #aaa;
}
div#title {
  position: relative;
  width: 300px;
  left: 24px;
  top: 25px;
  font-family: Nobile;
  font-size: 150%;
  color: #333;
  text-shadow: 0 1px 1px #fff;
}
div#title a {
  text-decoration: none;
  color: #333;
}
div#menu {
  background-image: -webkit-linear-gradient(top, #999999, #777777);
  background-image: -moz-linear-gradient(top, #999999, #777777);
  background-image: -ms-linear-gradient(top, #999999, #777777);
  background-image: -o-linear-gradient(top, #999999, #777777);
  background-image: linear-gradient(top, #999999, #777777);
  margin: -21px;
  margin-top: -20px;
  border: 1px solid #666;
  border-top: none;
  margin-bottom: 20px;
  text-shadow: 0 1px 1px #444;
  font-size: 105%;
  color: #eee;
  padding: 15px;
}
div#new {
  float: right;
  position: relative;
  right: 30px;
  top: 7px;
}
div#new a {
  color: #444;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #bbb;
  border: 1px solid #aaa;
  font-size: 95%;
  text-shadow: 0 1px 1px #eee;
  font-family: Nobile Bold Italic;
  text-decoration: none;
}
div.issue-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-top-left-border-radius: 5px;
  -webkit-top-right-border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  width: 700px;
  height: 20px;
  padding: 10px;
  border: 1px solid #bbb;
  text-shadow: 0 1px 1px #fff;
  line-height: 23px;
}
div#comment-form {
  width: 722px;
}
div#comment-form textarea {
  width: 100%;
  height: 85px;
}
span#arr {
  font-size: 70%;
}
div.page {
  margin: 20px;
  margin-top: 0px;
  background-color: white;
  padding: 20px;
  border: 1px solid #999;
  border-top: none;
}
div.page a {
  color: #5F8A42;
}
div#footer {
  margin: 20px;
  display: block;
  padding: 10px;
  background-color: #bbb;
  border: 1px solid #aaa;
  color: #565656;
  font-family: Nobile Bold Italic;
  text-shadow: 0 1px 1px #eee;
  font-size: 90%;
}
div#footer a {
  color: #454545;
}
div.content-bar {
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #999;
  border-top: none;
}
div.content-bar input[type=text] {
  height: 20px;
  width: 100px;
  padding: 0px;
}
div.content-bar div.close {
  font-family: DejaVu !important;
  font-size: 95%;
  color: #666;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #bbb;
  border: 1px solid #999;
  float: right;
  text-align: center;
  position: relative;
  top: 3px;
  font-size: 88%;
  vertical-align: middle;
}
div.content-bar div.close:hover {
  color: #444;
  cursor: pointer;
  border: 1px solid #888;
}
#sidebar {
  display: none;
  float: left;
  margin-top: 50px;
  margin-right: 100px;
  height: 300px;
  width: 90px;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.tag {
  background-color: #ccc;
  border: 1px solid #bbb;
  border-radius: 5px;
}
td {
  padding: 10px;
}
th {
  text-align: left;
}
th a {
  text-decoration: none;
}
tr.content:nth-child(even) {
  background-color: #f3f3f3;
  border: 1px solid #eeeeee;
}
textarea {
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 0px;
  width: 100%;
  font-family: Menlo, DejaVu;
  font-size: 100%;
}
input[type=text], input[type=password] {
  padding: 10px;
  border: 1px solid #bbb;
}
input#title {
  padding: 10px;
  width: 100%;
  font-size: 115%;
}
textarea#content {
  margin-top: -15px;
  height: 300px;
}
.unfocused {
  color: #bbb;
}
.button {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  display: block;
  vertical-align: middle;
}
.small-button {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  display: inline;
  font-size: 85%;
  padding: 6px;
}
.button:hover {
  cursor: pointer;
}
.green {
  border: 1px solid #53793a;
  background-color: #92bd75;
  border: 1px solid #5F8A42;
  text-shadow: 0 1px 1px #555;
}
.gray {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  border: 1px solid #888;
  color: #333;
  text-shadow: 0 1px 1px #fff;
}
.gray:hover {
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  cursor: pointer;
}
.red {
  background-color: #EE5F5B;
  border: 1px solid #b71713;
  text-shadow: 0 1px 1px #555;
}
div#options-wrapper {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
}
input[type=submit] {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  border: 1px solid #888;
  color: #333;
  text-shadow: 0 1px 1px #fff;
}
input[type=submit]:hover {
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  cursor: pointer;
}
#filter {
  display: inline;
  margin: 60px;
}
.monospace {
  font-family: DejaVu !important;
  font-size: 95%;
}
.fancy {
  text-shadow: 0 1px 1px #fff;
  color: #555;
}
.fancy-monospace {
  font-family: DejaVu !important;
  font-size: 95%;
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #777;
  padding: 4px;
  color: #444;
  text-shadow: 0 1px 1px #eee;
}
a.fancy-monospace {
  color: #444 !important;
  text-decoration: none;
}
.fancy-monospace-header {
  font-family: DejaVu !important;
  font-size: 95%;
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-top-left-border-radius: 4px;
  -webkit-top-right-border-radius: 4px;
  border: 1px solid #777;
  padding: 4px;
  color: #444;
  text-shadow: 0 1px 1px #eee;
  margin-left: -11px;
  line-height: 25px;
}
.bold {
  font-weight: bold;
}
div.issue {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-bottom-left-border-radius: 5px;
  -webkit-bottom-right-border-radius: 5px;
  width: 700px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px;
}
div.comment-event {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-bottom-left-border-radius: 5px;
  -webkit-bottom-right-border-radius: 5px;
}
div.comment-event span#closed {
  background-color: #EE5F5B;
  border: 1px solid #b71713;
  color: white;
  text-shadow: 0 1px 1px #666;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 3px;
}
span#opened {
  background-color: #92bd75;
  border: 1px solid #53793a;
  color: white;
  text-shadow: 0 1px 1px #666;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 3px;
}
div.comment-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-top-left-border-radius: 5px;
  -webkit-top-right-border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  width: 700px;
  height: 20px;
  padding: 10px;
  border: 1px solid #bbb;
  text-shadow: 0 1px 1px #fff;
  line-height: 23px;
}
div.comment-header span#author, div.issue-header span#author {
  font-weight: bold;
  color: #444;
}
div.comment-header span#time, div.issue-header span#time {
  font-weight: bold;
  color: #444;
}
div.issue span#title, div.comment span#title {
  font-size: 120%;
  font-weight: bold;
  text-shadow: 0 0 1px #fff;
}
div.comment {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-bottom-left-border-radius: 5px;
  -webkit-bottom-right-border-radius: 5px;
  width: 700px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}
div.comment p:first-child {
  margin-top: 0.5em;
}
div.comment h1,
.issue h1,
.doc h1,
#preview h1 {
  font-size: 150%;
}
div.comment h2,
.issue h2,
.doc h2,
#preview h2 {
  font-size: 130%;
}
div.codehilite {
  background-color: #002b36;
  overflow: auto;
  font-family: Menlo, Andale Mono, DejaVu, monospace;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
div.comment > div.codehilite, div.issue > div.codehilite {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px;
}
table.codehilitetable {
  background-color: #002b36;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
}
td.linenos {
  background-color: #073642;
  padding: 5px;
  color: #586E75;
  text-shadow: #021014 0 -1px;
  border-right: 1px solid #00232C;
  width: 15px;
  text-align: right;
}
#nav {
  max-width: 400px;
  margin: 0px;
  float: left;
  position: relative;
  left: 200px;
  top: 10px;
}
#nav a.nav {
  float: left;
  color: #777;
  font-size: 95%;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 1px #fff;
  margin-left: 10px;
  background-color: #dedede;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #bbb;
  border-bottom: none;
}
#nav a.nav.selected {
  background-color: #92bd75;
  color: #444;
  text-shadow: 0 1px 1px #ddd;
  border: 1px solid #5f8a42;
  border-bottom: 1px solid #92bd75;
}
pre, code {
  font-family: Menlo, DejaVu;
  margin: 0px;
}
pre {
  color: #93A1A1;
  font-size: 90%;
}
code {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #ddd;
  border: 1px solid #ccc;
  font-size: 85%;
  padding: 1px;
}
a.open-closed {
  color: #eee !important;
  padding: 7px;
  background-color: #444;
  border: 1px solid #333;
  width: 50px;
  margin-right: -5px;
  text-decoration: none;
  text-shadow: 0 1px 1px #000;
  position: relative;
}
#open-issues {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#closed-issues {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
a.active {
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  color: #444 !important;
  border: 1px solid #555;
  text-shadow: 0 1px 1px #fff;
}
div#preview-wrapper {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 722px;
  border: 2px dashed #777;
  display: none;
}
div#preview {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-bottom-left-border-radius: 5px;
  -webkit-bottom-right-border-radius: 5px;
  width: 705px;
  background-color: #eee;
  padding: 8px;
  height: 50px;
}
div#preview pre {
  background-color: #002b36;
  width: 98%;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div#preview pre code {
  background-color: #002b36;
  border: 0px;
}
div#flash {
  background-image: -webkit-linear-gradient(top, #ffd10f, #ffde20);
  background-image: -moz-linear-gradient(top, #ffd10f, #ffde20);
  background-image: -ms-linear-gradient(top, #ffd10f, #ffde20);
  background-image: -o-linear-gradient(top, #ffd10f, #ffde20);
  background-image: linear-gradient(top, #ffd10f, #ffde20);
  font-size: 120%;
  color: #333;
  text-align: center;
  padding: 10px;
  text-shadow: 0 1px 1px #fff;
}
div#flash span:hover {
  cursor: pointer;
}
span.hq {
  font-size: 70%;
  vertical-align: super;
  font-weight: bold;
}
div#paging {
  float: right;
}
div#paging a {
  text-decoration: none;
  color: #5f8a42;
  font-weight: bold;
  text-shadow: 0 1px 1px #eee;
  font-size: 95%;
}
div#paging a.cur-page {
  color: #444;
}
div#git-access {
  float: right;
}
span#issue-count {
  font-size: 93%;
  color: #666;
}
div#feed {
  width: 650px;
}
div#feed li {
  list-style-type: none;
  margin-left: 0px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 95%;
}
div#feed span#author {
  font-weight: bold;
  color: #555;
}
div#feed span#time {
  font-size: 85%;
  color: #666;
}
div#feed div.snippet {
  margin-left: 20px;
  margin-top: 10px;
  width: auto;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
div#feed span#title {
  font-weight: bold;
}
div.issue-sidebar {
  width: 220px;
  float: right;
}
div.issue-sidebar-heading {
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  padding: 10px;
  border: 1px solid #bbb;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  color: #444;
}
div.issue-sidebar-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 15px;
  background-color: #eee;
  color: #555;
  text-shadow: 0 1px 1px #fff;
}
div.issue-sidebar-content .button {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
}
div.issue-sidebar > div:last-child {
  border-bottom: 1px solid #ddd;
}
div.issue-sidebar > div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-top-left-border-radius: 5px;
  -webkit-top-right-border-radius: 5px;
}
div#issue-new {
  width: 700px;
}
div.graph-outer {
  height: 40px;
}
div.graph-open {
  height: 40px;
  float: left;
  border: 1px solid #53793a;
  background-color: #92bd75;
}
div.graph-closed {
  height: 40px;
  float: left;
  background-color: #EE5F5B;
  border: 1px solid #b71713;
  border-left: 0px;
}
.ui-dialog-titlebar {
  display: none !important;
}
div.doc-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-top-left-border-radius: 5px;
  -webkit-top-right-border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  padding: 10px;
  border: 1px solid #bbb;
  margin-left: 250px;
  text-shadow: 0 1px 1px #fff;
}
div.doc {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-bottom-left-border-radius: 5px;
  -webkit-bottom-right-border-radius: 5px;
  background-color: #eee;
  min-height: 500px;
  margin-left: 250px;
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}
a.action-link {
  font-weight: bold;
  text-decoration: none;
  color: #444 !important;
}
a.action-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
a.doc-item {
  display: inline-block;
  margin-left: -15px;
  margin-right: -15px;
  text-decoration: none;
  padding: 10px;
  padding-left: 15px;
  width: 194px;
}
a.doc-item.selected {
  background-color: #dcdcdc;
  border: 1px solid #ccc;
  color: #444;
  border-left: none;
  border-right: none;
  text-shadow: 0 1px 1px #fff;
}
